{% extends "parent.html" %}


  {% block nombreuser %}
    {% if username is defined and username|length %}
      {{ username }}
    {% else %}
      {{ super() }}
    {% endif %}
  {% endblock %}
  
{% block ultimaspaginas %}

  {% if ultimaspaginas is defined %}
    {% for pagina in ultimaspaginas %}
    <li>
      <a href="{{ pagina }}" class="nav-link text-white">
        {{ pagina }}
      </a>
    </li>
    {% endfor %}
  {% else %}
    {{ super() }}
  {% endif %}


{% endblock %}


{% block contenido %}
<h2> ESTO ES HOME</h2>

{% if username is defined and username|length %}
      <p>Bienvenido {{ username }}</p>
{% endif %}

{% endblock %}