{% extends "parent.html" %}


{% block contenido %}
<h2> BUSCAR</h2>

<form method=POST>
      <label>Pokemon a buscar</label><br>
      <input type="text" name="texto"><br>
      <input type=submit value=Buscar>
</form>

{% if lista_pokemon is defined and lista_pokemon|length %}
<div class="d-flex flex-column flex-shrink-0"></div>
      {% for pokemon in lista_pokemon %}
            <div>
                  <h4>{{pokemon['name']}}</h4>
                  <div class="d-flex flex-row flex-shrink-0">
                        <img src= {{pokemon['img']}} alt="" width="128" height="128" class="rounded-circle me-2">
                        <ul>
                              <li>Id: {{pokemon['id']}}</li>
                              <li>Tipo: {{pokemon['type']}}</li>
                              <li>Altura: {{pokemon['height']}}</li>
                              <li>Peso: {{pokemon['weight']}}</li>
                              
                        </ul>
                  </div>
                  <a  class="btn btn btn-dark text-center" href="modificar_pokemon/{{pokemon['id']}}">Modificar pokemon</a>
            </div>

      {% endfor %}
</div>
{% endif %}

{% endblock %}