{% extends "parent.html" %}

{% load crispy_forms_tags %}

{% block contenido %}

    <h1>Regístrate</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn btn-dark text-center">Sign Up</button>
    </form>

    {% for error in errores %}
    <p>{{ error }}</p>
    {% endfor %}

    <br>
    <a class="btn btn btn-dark text-center" href="{% url 'index' %}" role="button">Volver a Home</a>

{% endblock %} 